/*colors and margins fonts etc */
@import url(https://fonts.google.com/specimen/Barlow+Condensed);
@import url(https://fonts.google.com/specimen/Barlow);
$Red: hsl(0, 100%, 68%);
$VeryDarkBlue: hsl(230, 29%, 20%);
$DarkGrayishBlue: hsl(230, 11%, 40%);
$GrayishBlue: hsl(231, 7%, 65%);
$LightGrayishBlue: hsl(207, 33%, 95%);
$fontWeight: 400;
$fontWeightBiger: 700;


*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Barlow', fantasy, sans-serif;
    font-weight: $fontWeight;
    min-height: 100vh;
}

h1, h2, h3, h4, a{
    color: $VeryDarkBlue;
    text-decoration: none;
}
ul, li{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-weight: $fontWeightBiger;
}
p{
    color: $DarkGrayishBlue;
}



/*________________________contaienr*/
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
       & .overlay{
        position: absolute;
        top: 0;
        right: -5%;
        height: 25rem;
        width: 42rem;
        background-color: $LightGrayishBlue;
        border-bottom-left-radius: 4rem;
        z-index: -9;
    }
}
/*________________________header styel*/
.header{
padding-top: 2.1rem;

    & .navbar{
    display: flex;
    justify-content: space-between;

    & .logo{
        margin-left: 3rem;
        cursor: pointer;
    }

    & .menu__links{
        display: flex;
       
        & .links{
            margin-left: 2.3rem;
            cursor: pointer;
            text-transform: uppercase;
        }
        & .login{
            padding-left: 1rem;
            color: $DarkGrayishBlue;
        }
    }

    }

}
/*________________________content styel*/
.content{
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    margin-top: 10rem;

  & .left{
      width: 50%;
      padding-left: 3rem;
    & h4{
        color: $GrayishBlue;
        letter-spacing: 0.1rem;
        line-height: 5;
        & .mini__btn{
            color: $LightGrayishBlue;
            padding: 0.4rem;
            background-color: $VeryDarkBlue;
            border-radius: 30px;
            padding: 0.2rem 0.6rem;
            cursor: pointer;
        }
    }
    & .intro__title{
        font-weight: 1000;
        width: 100%;
        font-size: 3rem;
        text-transform: uppercase;
    }

    & .intro__text{
        color: $GrayishBlue;
        line-height: 1;
        width: 80%;
        padding: 2rem 0;
    }

    & .btn{
        padding: 1rem 3.3rem;
        color: $LightGrayishBlue;
        background-color: $Red;
        border: none;
        border-radius: 8px;
    }
    & .btn__context{
        color: $GrayishBlue;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: normal;
    }

  }
   
  & .right{
   width: 40%;
   position: relative;
   & img{
       position: absolute;
        max-width: 50rem;
        width: 45rem;
        right: -20%;
        top: 0;
    }
  }
}
